<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Talexan\Userslist\Model\Repository\RepositoryInterface" type="Talexan\UsersList\Model\Repository\UsersRepository\Users" />
    <!-- See up. This don't work me. Why???-->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="talexan_users_listing_data_source" xsi:type="string">TalexanUsersCollection</item> 
            </argument> 
        </arguments> 
    </type>
    <!-- So I'll try like this-->
     <type name="Talexan\UsersList\Controller\Adminhtml\Grid\InlineEdit">
        <arguments>
            <argument name="repository" xsi:type="object">\Talexan\UsersList\Model\Repository\UsersRepository\Users</argument> 
        </arguments> 
    </type>
    <type name="Talexan\UsersList\Controller\Adminhtml\Grid\Save">
        <arguments>
            <argument name="repository" xsi:type="object">\Talexan\UsersList\Model\Repository\UsersRepository\Users</argument> 
        </arguments> 
    </type>
    <type name="Talexan\UsersList\Controller\Adminhtml\User\GenericButton">
        <arguments>
            <argument name="repository" xsi:type="object">\Talexan\UsersList\Model\Repository\UsersRepository\Users</argument> 
        </arguments> 
    </type>
    <virtualType name="TalexanUsersCollection" type="Talexan\UsersList\Ui\Component\Listing\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">talexan_userslist_table</argument>
            <argument name="resourceModel" xsi:type="string">Talexan\UsersList\Model\ResourceModel\UsersList</argument> 
        </arguments> 
    </virtualType>
</config>